/* =============================================== */
/* CSS for control sap.ui.rta/ChangeVisualization  */
/* Base theme                                      */
/* =============================================== */

@_sap_ui_rta_ChangeVisualization_OverlayOutlineColor: var(--sapSelectedColor);
@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorDark: @sapUiChartPaletteSequentialHue11Dark2; /* #0e4186 */
@_sap_ui_rta_ChangeVisualization_OverlayBorderRadius: var(--sapButton_BorderCornerRadius); /* 0.5rem */

.sapUiDtOverlay {

	// source overlay of moved elements with animation
	&.sapUiRtaChangeIndicatorDependent {
		position: absolute;
		box-shadow: inset 0 0 0 0.1875rem @_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorDark, var(--sapContent_Shadow2);
		background-color: fade(@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorDark, 25%);
		animation: flashFadeOut cubic-bezier(0.57, 0.13, 1, 0.57) 2s;
		animation-fill-mode: forwards;
		@keyframes flashFadeOut {
			5% {
				box-shadow: inset 0 0 0 0.1875rem @_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorDark, var(--sapContent_Shadow2);
				background-color: fade(@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorDark, 25%);
			}
			25% {
				box-shadow: none;
				background-color: fade(@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorDark, 0%);
			}
			50% {
				box-shadow: inset 0 0 0 0.1875rem @_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorDark, var(--sapContent_Shadow2);
				background-color: fade(@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorDark, 25%);
			}
			75% {
				box-shadow: none;
				background-color: fade(@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorDark, 0%);
			}
			100% {
				box-shadow: none;
				background-color: fade(@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorDark, 0%);
			}
		}
	}

	/* Dashed border for overlays with changes */
	&.sapUiRtaOverlayWithChanges:not(.sapUiDtOverlaySelected):not(.sapUiDtOverlayHover) {
		&:after {
			content: '';
			outline: 0.125rem dashed @_sap_ui_rta_ChangeVisualization_OverlayOutlineColor;
			outline-offset: -0.1875rem;
			border: none;
			border-radius: @_sap_ui_rta_ChangeVisualization_OverlayBorderRadius;
			pointer-events: none;
		}
	}
}

/* Change detail popup styles */
.sapMPopover.sapUiRtaChangeDetailPopup {
	min-height: 12.5rem; // 200px
	max-height: 31.25rem; // 500px
	opacity: 1;
	&.sapUiRtaChangeDetailPopupInvisible {
		opacity: 0!important;
	}

	.sapMBtn {
		height: 2rem;
		margin-top: 0!important;
		margin-left: var(--sapContent_Space_Tiny);
		padding: 0;
		max-width: 7.5rem;
		.sapMBtnInner {
			height: 2rem;
			font-size: 0.75rem;
			.sapMBtnIcon {
				line-height: 2rem;
			}
		}
		.sapMBtnContent {
			line-height: 2rem;
		}
	}

	.sapMBar {
		height: 2.25rem;
		line-height: 2.25rem;
		.sapMBarLeft, .sapMBarRight, .sapMBarPH {
			height: 2.25rem;
			line-height: 2.25rem;
		}
	}
	.sapMLIBFocusable:focus {
		outline: none;
	}

	.sapMListTblHeader .sapMText {
		font-weight: bold;
	}

	.sapUiRtaChangeDetailCommandLabel {
		font-weight: bold;
	}

	.sapMList {
		.sapMTableTHead {
			.sapMListTblHeader {
				height: 2rem;
				.sapMColumnHeader {
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
				}
			}
			.sapUiRtaTypeColumnHeader {
				padding: 0!important;
				.sapMColumnHeader {
					justify-content: center!important;
					text-align: center!important;
				}
			}
		}
		.sapMTableTBody {
			.sapMListTblRow {
				height: 3.375rem;
			}
			.sapMListTblHighlightCell + td.sapMListTblCell {
				text-align: center!important;
			}
		}
	}

}

/* Anchor Element for Change detail popup */
.sapUiRtaChangeDetailPopupAnchor {
	display: block;
	position: fixed;
	width: 0;
	height: 0;
	overflow: hidden;
	pointer-events: none;
}
