/* ================================================ */
/* CSS for control sap.ui.rta/FlexSupportExtension  */
/* Base theme                                       */
/* ================================================ */

.sapUI5Scope {
	--_sap_ui_rta_FlexSupportExtension_BackgroundColor: ~'hsl(from var(--sapSelectedColor) h s l / .05)';
	--_sap_ui_rta_FlexSupportExtension_BorderRadius: var(--sapButton_BorderCornerRadius);
	--_sap_ui_rta_FlexSupportExtension_OutlineColor: var(--sapSelectedColor);
}

.sapUiFlexibilitySupportExtension_Selected {
	box-shadow: var(--sapContent_Shadow2);

	&::after {
		content: '';
		background: var(--_sap_ui_rta_FlexSupportExtension_BackgroundColor);
		opacity: 0.4;
		border-radius: var(--_sap_ui_rta_FlexSupportExtension_BorderRadius);
		outline: 0.125rem solid var(--_sap_ui_rta_FlexSupportExtension_OutlineColor);
		outline-offset: -0.125rem; /* 1px */
	}
}