/* ============================================== */
/* CSS for control sap.ui.rta/Toolbar.adaptation  */
/* Base theme                                     */
/* ============================================== */

@_sap_ui_rta_Toolbar_Adaptation_TextColor: var(--sapShell_TextColor); /* #000 */
@_sap_ui_rta_Toolbar_Adaptation_BtnFocusBorderColor: var(--sapContent_FocusColor); /* #000 */
@_sap_ui_rta_Toolbar_Adaptation_DraftVersionColor: var(--sapChart_Bad); /* #ab0000 */
@_sap_ui_rta_Toolbar_Adaptation_ActiveVersionColor: var(--sapChart_Good); /* #006362 */
@_sap_ui_rta_Toolbar_Adaptation_FocusOutlineColor: var(--sapContent_FocusColor); /* #000 */

.sapUiRtaManageVersionsDialog {
	max-height: 50% !important;

	.sapUiRtaVersionsList .sapUiRtaDraftVersionAccent .sapMText {
		color: @_sap_ui_rta_Toolbar_Adaptation_DraftVersionColor;
	}

	.sapMDialogFooter {
		.sapMIBar {
			padding: 0;
		}
	}
	.sapUiRtaOriginalVersionList {
		width: 100%;
		.sapMLIBFocusable:focus,
		.sapMTblCellFocusable:focus {
			outline: none;
		}
	}

	.sapUiRtaOriginalVersionList .sapMListTblCell:first-child {
		padding-left: 0;
	}
}

.sapUiRtaMode {

	.sapUiRtaToolbar.sapUiRtaToolbarAdaptation {

		.sapUiRtaHardReloadInfoButton .sapMBtnAttention {
			background-color: transparent;
			border-color: transparent;
		}

		.sapUiRtaToolbarAppName {
			font-size: 1rem; /* 16px */
		}

		.sapUiRtaToolbarText {
			color: @_sap_ui_rta_Toolbar_Adaptation_TextColor;
		}

		.sapMBtn {
			padding: 0;
			height: 2.5rem; /* 40px */

			&.sapMBtnDisabled .sapMBtnInner {
				opacity: 0.5;
			}

			&:focus .sapMFocusable {
				outline: none;
				border: 0.0625rem dotted @_sap_ui_rta_Toolbar_Adaptation_BtnFocusBorderColor; /* 1px */
			}
		}

		.sapUiRtaVersionButton.sapUiRtaDraftVersionAccent >.sapMBtn > span > span > bdi,
		.sapUiRtaVersionButton.sapUiRtaDraftVersionAccent >.sapMBtn > span::after {
			color: @_sap_ui_rta_Toolbar_Adaptation_DraftVersionColor;
		}

		.sapUiRtaVersionButton.sapUiRtaActiveVersionAccent >.sapMBtn > span > span > bdi,
		.sapUiRtaVersionButton.sapUiRtaActiveVersionAccent >.sapMBtn > span::after {
			color: @_sap_ui_rta_Toolbar_Adaptation_ActiveVersionColor;
		}

		.sapUiRtaVersionButton.sapUiRtaVersionColor >.sapMBtn > span > span > bdi,
		.sapUiRtaVersionButton.sapUiRtaVersionColor >.sapMBtn > span::after {
			color: @_sap_ui_rta_Toolbar_Adaptation_TextColor;
		}

		.sapUiRtaVersionButton.sapUiRtaVersionColor:hover  {

			> span.sapMBtnHoverable.sapMBtnTransparent > span.sapMBtnIcon,
			> span > span > bdi {
				color: @_sap_ui_rta_Toolbar_Adaptation_TextColor;
			}
		}
	}
}

.sapUiRtaVersionButton {
	max-width: 12.5rem; /* 200px */
	min-width: 3rem; /* 48px */
}
