/* ====================================== */
/* CSS for control sap.m/HeaderContainer  */
/* Quartz Dark theme                      */
/* ====================================== */

.sapMHdrCntrBtn > .sapMBtnInner {
	border: none;
}

.sapMHdrCntrBGTransparent {
	background-color: transparent;
}

.sapMHdrCntrBGTranslucent {
	background-color: var(--sapObjectHeader_Background);
}