/* ================================= */
/* CSS for control sap.m/Token       */
/* Quartz High Contrast White theme  */
/* ================================= */

.sapMToken {
	border-radius: 0.25rem;
	padding-left: 0.3125rem;
	overflow: visible;
}

html.sap-desktop .sapMToken.sapMTokenSelected:not(.sapMTokenReadOnly):hover {
	background: var(--sapButton_Selected_Hover_Background);
	border: var(--sapButton_BorderWidth) solid var(--sapButton_Selected_Hover_BorderColor);
}

html.sap-desktop .sapMToken {

	&.sapMTokenReadOnly,
	&.sapMTokenReadOnly:hover {
		color: var(--sapContent_LabelColor);
		background: var(--sapField_ReadOnly_Background);
		border: var(--sapButton_BorderWidth) solid var(--sapField_ReadOnly_BorderColor);
	}

	&.sapMTokenReadOnly.sapMTokenSelected,
	&.sapMTokenReadOnly.sapMTokenSelected:hover {
		color: var(--sapButton_Selected_TextColor);
		background: var(--sapButton_Selected_Background);
		border: var(--sapButton_BorderWidth) solid var(--sapButton_Selected_BorderColor);
	}
}

.sapMToken:not(.sapMTokenFocusFromTouch):focus-visible,
html.sap-desktop .sapMToken:focus {
	outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
	outline-offset: -0.1875rem;
}

.sapMToken.sapMTokenSelected:not(.sapMTokenFocusFromTouch):focus-visible,
html.sap-desktop .sapMToken.sapMTokenSelected:focus {
	outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_ContrastFocusColor);
}

.sapMTokenIcon {
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.sapMTokenIcon::before {
	display: inline-block;
	width: 0.75rem;
	height: 0.75rem;
	line-height: 1;
}