/* ===================================== */
/* CSS for control sap.ui.rta/AddIFrame  */
/* Morning Horizon theme                 */
/* ===================================== */

.sapUI5Scope {
	--_sap_ui_rta_AddIFrame_BorderRadius: var(--sapField_BorderCornerRadius);
	--_sap_ui_rta_AddIFrame_ButtonHoverBackgroundColor: var(--sapButton_Hover_Background);
}

.sapUiRtaMode {

	.sapUiRtaAddIFrameDialog {

		.sapUiRtaAddIFrameDialogVlWrapper {

			.sapUiRtaAddIFrameDialogEditGrid {

				.sapUiRtaAddIFrameDialogParameters {

					.sapMScrollCont {
						border-radius: var(--_sap_ui_rta_AddIFrame_BorderRadius);
					}
				}

				.sapUiRtaAddIFrameDialogEditUrl {

					.sapMTextArea {

						.sapMInputBaseContentWrapper {
							background-image: none;
						}
					}
				}
			}

			.sapUiRtaAddIFrameDialogPreviewGrid {
				border-radius: var(--_sap_ui_rta_AddIFrame_BorderRadius);
			}
		}
	}
}