/* ================================== */
/* CSS for control sap.m/Shell        */
/* Horizon High Contrast White theme  */
/* ================================== */

/* background color class for Shell header */
.sapMShellBackgroundColorOnlyIfDefault {
	background-color: var(--sapBackgroundColor);
}

html.sap-desktop {

	.sapMShellCentralBox {
		box-shadow: 0 0 2.5rem 0.125rem var(--sapContent_ShadowColor);
		border-right: 1px solid var(--sapList_BorderColor);
		border-left: 1px solid var(--sapList_BorderColor);
	}
}

.sapMShellBrandingBar {
	background: none;
}

@media (min-width: 1280px) {

	html.sap-desktop {

		.sapMShellAppWidthLimited {

			.sapMShellCentralBox {
				background-color: var(--sapBackgroundColor);
			}
		}
	}
}