/* ======================================= */
/* CSS for control sap.m/ObjectIdentifier  */
/* Base theme                              */
/* ======================================= */

.sapMObjectIdentifierIcons {
	overflow: hidden;
	text-align: right;
	font-size: 1rem;
	color: var(--sapContent_NonInteractiveIconColor);
	display: inline-block;
	vertical-align: middle;
}

.sapMObjectIdentifierIconSpan {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0.5rem;
}

.sapMObjectIdentifierTitle .sapMLnk .sapMLnkText,
.sapMObjectIdentifierTitle .sapMText {
	overflow: visible;
	font-weight: bold;
	font-size: 1rem;
	display: inline;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
}

.sapMObjectIdentifierTitle .sapMLnk.sapMLnkLargeReactiveArea {
	display: inline-block;
}

html[data-sap-ui-browser^='ff'] {

	.sapMObjectIdentifierTitle .sapMLnk .sapMLnkText,
	.sapMObjectIdentifierTitle .sapMText {
		display: inline-block;
	}
}

.sapMObjectIdentifierTitle .sapMText {
	color: var(--sapGroup_TitleTextColor);
}

.sapMObjectIdentifierTitle .sapMLnk,
.sapMOITitleActive .sapMLnk {
	color: var(--sapLinkColor);
}

.sapMObjectIdentifierText .sapMText,
.sapMObjectIdentifierText,
.sapMObjectIdentifier {
	color: var(--sapContent_LabelColor);
}

.sapMObjectIdentifierText {
	font-size: var(--sapFontSize);
	padding-top: 0;
}

.sapMObjectIdentifierTextBellow {
	margin-top: 0.5rem;
}

.sapMLIBActive .sapMObjectIdentifier {
	color: var(--sapList_Active_TextColor);
}

/* ObjectIdentifier inside a table */
.sapMListTbl .sapMObjectIdentifierTitle .sapMLnk .sapMLnkText,
.sapMListTbl .sapMObjectIdentifierTitle .sapMText {
	font-size: var(--sapFontSize);
	padding-top: 0;
}

.sapMListTbl .sapMObjectIdentifierTitle .sapMText {
	font-weight: bold;
	color: var(--sapList_TextColor);
}

.sapMListTbl .sapMObjectIdentifierText .sapMText {
	line-height: 1.4;
	padding-top: 0;
}

.sapMObjectIdentifierTitle {
	display: inline;
}

.sapMObjectIdentifier .sapMEmptyIndicator.sapMEmptyIndicatorAuto {
	display: none;
}

.sapMShowEmpty-CTX .sapMObjectIdentifier .sapMEmptyIndicator.sapMEmptyIndicatorAuto {
	display: inline-block;
}