/* =============================== */
/* CSS for control sap.m/TextArea  */
/* Base theme                      */
/* =============================== */

.sapUI5Scope {
	--_sap_m_TextArea_Padding: 0.4375rem 0.5625rem;
	--_sap_m_TextArea_Padding_Compact: 0.125rem 0.4375rem;
	--_sap_m_TextArea_ReadonlyPadding: 0.4375rem 0.5625rem;
	--_sap_m_TextArea_ReadonlyPadding_Compact: 0.125rem 0.4375rem;
	--_sap_m_TextArea_ValueStateSuccessPadding: 0.4375rem 0.5625rem;
	--_sap_m_TextArea_ValueStateSuccessPadding_Compact: 0.125rem 0.4375rem;
	--_sap_m_TextArea_ValueStateInformationPadding: 0.375rem 0.5rem;
	--_sap_m_TextArea_ValueStateInformationPadding_Compact: 0.0625rem 0.375rem;
	--_sap_m_TextArea_ValueStateErrorWarningPadding: 0.375rem 0.5rem;
	--_sap_m_TextArea_ValueStateErrorWarningPadding_Compact: 0.0625rem 0.375rem;
	--_sap_m_TextArea_ContentWrapperPadding: 0;
	--_sap_m_TextArea_ContentWrapperValueStateSuccessPadding: 0;
	--_sap_m_TextArea_ContentWrapperValueStateInformationPadding: 0;
	--_sap_m_TextArea_ContentWrapperValueStateErrorWarningPadding: 0;
}

/* uses sapMInputBase styles */

.sapMTextAreaInner {
	overflow: auto; /* remove scrollbars if not needed */
	-webkit-transform: none; /* transform is blocking scroll */
	resize: none;
	margin: 0;
}

.sapMTextArea .sapMInputBaseContentWrapper {
	-webkit-overflow-scrolling: touch;
	height: 100%;
	width: 100%;
	line-height: 0;
	display: block;
	padding: var(--_sap_m_TextArea_ContentWrapperPadding);
}

.sapMTextArea .sapMTextAreaInner {
	-webkit-overflow-scrolling: touch;
	line-height: 1.4;
	height: 100%;
	width: 100%;
}

.sapMTextAreaWithCounter {

	& .sapMTextAreaCounter {
		float: right;
		overflow: hidden;
		font-family: var(--sapFontFamily);
		font-size: var(--sapFontSmallSize);
		color: var(--sapContent_LabelColor);
		padding: 0.3725rem 0.125rem 0.5rem;
	}

	& .sapMInputBaseContentWrapper {
		height: calc(~"100% - 1.5rem");
	}
}

.sapMTextAreaGrow {
	overflow: hidden;
	position: absolute;
	height: 100%;
	top: 0;
}

/* ensure that the mirror div has the same styles like the inner text area */
.sapMTextAreaMirror {
	/* should not grow more than screen size */
	max-height: calc(100vh - 6rem);
	white-space: pre-wrap;
	border: none;
	overflow: hidden;
	line-height: 1.4;
	visibility: hidden;
	word-break: break-word;
	font-size: var(--sapFontSize);
}

.sapMInputBase.sapMTextArea {
	height: auto;
	min-height: 2.5rem;
	min-width: 6rem;

	.sapMTextAreaInner {
		line-height: 1.4;
		-webkit-overflow-scrolling: touch; /* IOS only */
	}

	&.sapMInputBaseReadonly .sapMInputBaseReadonlyWrapper {
		background-image: none;
	}
}

.sapMInputBase.sapMTextArea {

	.sapMTextAreaInner,
	.sapMTextAreaMirror {
		padding: var(--_sap_m_TextArea_Padding);
	}

	.sapMInputBaseContentWrapperState.sapMInputBaseContentWrapperError,
	.sapMInputBaseContentWrapperState.sapMInputBaseContentWrapperWarning {
		padding: var(--_sap_m_TextArea_ContentWrapperValueStateErrorWarningPadding);

		.sapMTextAreaInner,
		.sapMTextAreaMirror {
			padding: var(--_sap_m_TextArea_ValueStateErrorWarningPadding);
		}
	}
	.sapMInputBaseContentWrapperState.sapMInputBaseContentWrapperSuccess {
		padding: var(--_sap_m_TextArea_ContentWrapperValueStateSuccessPadding);

		.sapMTextAreaInner,
		.sapMTextAreaMirror {
			padding: var(--_sap_m_TextArea_ValueStateSuccessPadding);
		}
	}
	.sapMInputBaseContentWrapperState.sapMInputBaseContentWrapperInformation {
		padding: var(--_sap_m_TextArea_ContentWrapperValueStateInformationPadding);

		.sapMTextAreaInner,
		.sapMTextAreaMirror {
			padding: var(--_sap_m_TextArea_ValueStateInformationPadding);
		}
	}
}

.sapMInputBase.sapMTextArea.sapMInputBaseReadonly:not(.sapMInputBaseDisabled) {

	.sapMTextAreaInner,
	.sapMTextAreaMirror {
		padding: var(--_sap_m_TextArea_ReadonlyPadding);
	}
}

.sapMFocus.sapMTextArea {

	& .sapMInputBaseContentWrapper {
		outline: none;

		.sapMInputBaseInner {
			outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
			outline-offset: -2px;
		}
	}
}

/**** Compact Size ****/
.sapUiSizeCompact {

	.sapMInputBase.sapMTextArea {
		min-height: 1.625rem;
		margin: 0.1875rem 0;
	}

	.sapMTextAreaWithCounter {

		& .sapMTextAreaCounter {
			padding-top: 0.3125rem;
		}
	}

	.sapMInputBase.sapMTextArea.sapMInputBaseReadonly:not(.sapMInputBaseDisabled) {

		.sapMTextAreaInner,
		.sapMTextAreaMirror {
			padding: var(--_sap_m_TextArea_ReadonlyPadding_Compact);
		}
	}
}

.sapUiSizeCompact .sapMInputBase.sapMTextArea {

	.sapMTextAreaInner,
	.sapMTextAreaMirror {
		padding: var(--_sap_m_TextArea_Padding_Compact);
	}

	.sapMInputBaseContentWrapperState.sapMInputBaseContentWrapperError,
	.sapMInputBaseContentWrapperState.sapMInputBaseContentWrapperWarning {

		.sapMTextAreaInner,
		.sapMTextAreaMirror {
			padding: var(--_sap_m_TextArea_ValueStateErrorWarningPadding_Compact);
		}
	}

	.sapMInputBaseContentWrapperState.sapMInputBaseContentWrapperSuccess {

		.sapMTextAreaInner,
		.sapMTextAreaMirror {
			padding: var(--_sap_m_TextArea_ValueStateSuccessPadding_Compact);
		}
	}

	.sapMInputBaseContentWrapperState.sapMInputBaseContentWrapperInformation {

		.sapMTextAreaInner,
		.sapMTextAreaMirror {
			padding: var(--_sap_m_TextArea_ValueStateInformationPadding_Compact);
		}
	}
}

/**
	Fix for iOS. When growing is enabled, the mirrored, hidden content should have pixel perfect proportions
	as the textarea. Otherwise, words could break differently and this would lead to inconsistent height.
	For some reason iOS devices need wider padding on left & right in order to have this consistency.
 */
html.sap-tablet,
html.sap-phone {

	&[data-sap-ui-os*='iOS'] .sapMInputBase.sapMTextArea .sapMTextAreaMirror {
		padding-left: 15px;
		padding-right: 15px;
	}
}