/* ============================ */
/* CSS for control sap.m/Image  */
/* Morning Horizon theme        */
/* ============================ */

.sapMImgFocusable:focus {
	outline: 0.125rem solid var(--sapContent_FocusColor);
	outline-offset: 0;
	border-radius: 0.5rem;
}