/* =================================== */
/* CSS for control sap.m/ObjectNumber  */
/* Morning Horizon theme               */
/* =================================== */

.sapMObjectNumber.sapMLnkLargeReactiveArea:not(.sapMObjectNumberLarge):not(.sapMObjectNumberInverted) {

	.sapMObjectNumberInner {
		line-height: 1.5rem;
	}
}

.sapMObjectNumberInverted {
	box-sizing: border-box;

	&:not(.sapMObjectNumberLarge) .sapMObjectNumberInner {
		min-height: 1rem;
		height: auto;
	}
}

.sapMObjectNumberInverted .sapMObjectNumberInner {
	border: 0.0625rem solid;
	border-radius: var(--sapButton_BorderCornerRadius);
	padding: 0.1875rem 0.25rem;
	vertical-align: middle;
}

html.sap-desktop .sapMObjectNumberActive:focus,
.sapMObjectNumberActive:focus-visible {

	.sapMObjectNumberInner::after {
		left: -0.0625rem;
		top: -0.0625rem;
		right: -0.0625rem;
		bottom: -0.0625rem;
		height: auto;
		outline: none;
		border-radius: 0.25rem;
		border: 0.125rem solid var(--sapContent_FocusColor);
	}

	&.sapMObjectNumberInverted .sapMObjectNumberInner::after {
		left: -0.0625rem;
		top: -0.0625rem;
		right: -0.0625rem;
		bottom: -0.0625rem;
		height: auto;
		outline: none;
		border-radius: var(--sapButton_BorderCornerRadius);
		border: 0.125rem solid var(--sapContent_FocusColor);
	}

	&.sapMObjectNumberLarge {

		.sapMObjectNumberInner::after {
			left: -0.0625rem;
			top: -0.0625rem;
			right: -0.0625rem;
			bottom: -0.0625rem;
			height: auto;
		}

		&.sapMObjectNumberInverted .sapMObjectNumberInner::after {
			left: -0.0625rem;
			top: -0.0625rem;
			right: -0.0625rem;
			bottom: -0.0625rem;
			height: auto;
			outline: none;
			border-radius: var(--sapButton_BorderCornerRadius);
			border: 0.125rem solid var(--sapContent_FocusColor);
		}
	}
}

.objectNumberStatusMixIn(@class, @regularBackgroundColor, @regularTextColor,
				@hoverBackgroundColor, @hoverTextColor,
				@activeBackgroundColor, @activeTextColor,
				@regularTextShadow, @activeTextShadow,
				@regularBorderColor, @hoverBorderColor, @activeBorderColor) {
	.sapMObjectNumberInverted.@{class} {

		.sapMObjectNumberText,
		.sapMObjectNumberUnit {
			text-shadow: @regularTextShadow;
		}

		.sapMObjectNumberInner {
			border-color: @regularBorderColor;
			background-color: @regularBackgroundColor;
			color: @regularTextColor;
		}

		&.sapMObjectNumberActive {

			.sapMObjectNumberInner:hover {
				border-color: @hoverBorderColor;
				background-color: @hoverBackgroundColor;
				color: @hoverTextColor;
			}

			.sapMObjectNumberInner:active,
			&.sapMObjectNumberPressed .sapMObjectNumberInner {
				border-color: @activeBorderColor;
				background-color: @activeBackgroundColor;
				color: @activeTextColor;

				.sapMObjectNumberText,
				.sapMObjectNumberUnit {
					text-shadow: @activeTextShadow;
				}
			}
		}
	}
}

.objectNumberStatusMixIn(sapMObjectNumberStatusNone,
	var(--sapNeutralBackground),
	var(--sapTextColor),
	var(--sapButton_Neutral_Hover_Background),
	var(--sapButton_Neutral_Hover_TextColor),
	var(--sapButton_Neutral_Active_Background),
	var(--sapButton_Active_TextColor),
	var(--sapContent_TextShadow),
	var(--sapContent_TextShadow),
	var(--sapNeutralBorderColor),
	var(--sapButton_Neutral_Hover_BorderColor),
	var(--sapButton_Neutral_Active_BorderColor)
);

.objectNumberStatusMixIn(sapMObjectNumberStatusInformation,
	var(--sapButton_Information_Background),
	var(--sapButton_Information_TextColor),
	var(--sapButton_Information_Hover_Background),
	var(--sapButton_Information_Hover_TextColor),
	var(--sapButton_Information_Active_Background),
	var(--sapButton_Selected_TextColor),
	var(--sapContent_TextShadow),
	var(--sapContent_TextShadow),
	var(--sapButton_Information_BorderColor),
	var(--sapButton_Information_Hover_BorderColor),
	var(--sapButton_Information_Active_BorderColor)
);

.objectNumberStatusMixIn(sapMObjectNumberStatusError,
	var(--sapButton_Negative_Background),
	var(--sapButton_Negative_TextColor),
	var(--sapButton_Negative_Hover_Background),
	var(--sapButton_Negative_Hover_TextColor),
	var(--sapButton_Negative_Active_Background),
	var(--sapButton_Reject_Selected_TextColor),
	var(--sapContent_ContrastTextShadow),
	var(--sapContent_TextShadow),
	var(--sapButton_Negative_BorderColor),
	var(--sapButton_Negative_Hover_BorderColor),
	var(--sapButton_Negative_Active_BorderColor)
);

.objectNumberStatusMixIn(sapMObjectNumberStatusWarning,
	var(--sapButton_Critical_Background),
	var(--sapButton_Critical_TextColor),
	var(--sapButton_Critical_Hover_Background),
	var(--sapButton_Critical_Hover_TextColor),
	var(--sapButton_Critical_Active_Background),
	var(--sapButton_Attention_Selected_TextColor),
	var(--sapContent_ContrastTextShadow),
	var(--sapContent_TextShadow),
	var(--sapButton_Critical_BorderColor),
	var(--sapButton_Critical_Hover_BorderColor),
	var(--sapButton_Critical_Active_BorderColor)
);

.objectNumberStatusMixIn(sapMObjectNumberStatusSuccess,
	var(--sapButton_Success_Background),
	var(--sapButton_Success_TextColor),
	var(--sapButton_Success_Hover_Background),
	var(--sapButton_Success_Hover_TextColor),
	var(--sapButton_Success_Active_Background),
	var(--sapButton_Accept_Selected_TextColor),
	var(--sapContent_ContrastTextShadow),
	var(--sapContent_TextShadow),
	var(--sapButton_Success_BorderColor),
	var(--sapButton_Success_Hover_BorderColor),
	var(--sapButton_Success_Active_BorderColor)
);