/* =============================================== */
/* CSS for control sap.ui.rta/ChangeVisualization  */
/* Quartz High Contrast White theme                */
/* =============================================== */

@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorDark: lighten(@sapUiChart8, 20%); /* #e52faa */
@_sap_ui_rta_ChangeVisualization_OverlayOutlineColor: var(--sapLegendColor7);

.sapMPopover.sapUiRtaChangeDetailPopup {

	.sapMBtn {

		.sapMBtnInner {
			border-radius: 0;
		}

	}
}