/* ============================================== */
/* CSS for control sap.ui.rta/Toolbar.adaptation  */
/* Quartz High Contrast White theme               */
/* ============================================== */

@_sap_ui_rta_Toolbar_Adaptation_DraftVersionColor: var(--sapContent_Illustrative_Color16); /* #8d2a00 */
@_sap_ui_rta_Toolbar_Adaptation_ActiveVersionColor: var(--sapContent_HelpColor); /* #006500 */
@_sap_ui_rta_Toolbar_Adaptation_SegBBtnBackgroundColor: var(--sapShell_Background); /* #fff */
@_sap_ui_rta_Toolbar_Adaptation_VersionHistory_HoverBackgroundColor: var(--sapList_SelectionBackgroundColor); /* #8fb5ff */
@_sap_ui_rta_Toolbar_Adaptation_HighlightAllChangesButtonColor: var(--sapContent_Illustrative_Color14); /* #0040b0 */

.sapUiRtaMode {

	.sapUiRtaToolbar.sapUiRtaToolbarAdaptation {

		.sapMBtn {

			&:focus .sapMFocusable {
				outline: 0.125rem dotted @_sap_ui_rta_Toolbar_Adaptation_FocusOutlineColor;
				outline-offset: -0.125rem; /* 2px */
				border-color: transparent;
			}
		}

		.sapUiRtaVersionButton.sapUiRtaDraftVersionAccent > .sapMBtn:hover > span::after {
			color: @_sap_ui_rta_Toolbar_Adaptation_TextColor;
		}

		.sapUiRtaVersionButton.sapUiRtaActiveVersionAccent > .sapMBtn:hover > span > span > bdi,
		.sapUiRtaVersionButton.sapUiRtaActiveVersionAccent > .sapMBtn:hover > span::after {
			color: @_sap_ui_rta_Toolbar_Adaptation_TextColor;
		}
	}

	.sapMMenuItem:not(:hover).sapUiRtaHighlightAllChangesButton {
		.sapMMenuItemSelected {
			&:after {
				color: @_sap_ui_rta_Toolbar_Adaptation_HighlightAllChangesButtonColor;
			}
		}
	}

	.sapMMenuItem:hover.sapUiRtaHighlightAllChangesButton {
		.sapMMenuItemSelected {
			&:after {
				color: @_sap_ui_rta_Toolbar_Adaptation_TextColor;
			}
		}
	}
}