/* ======================================== */
/* CSS for control sap.ui.rta/Toolbar.base  */
/* Quartz High Contrast White theme         */
/* ======================================== */

.sapUI5Scope {
	--_sap_ui_rta_Toolbar_Base_BorderLiteColor: var(--sapShell_Background);
	--_sap_ui_rta_Toolbar_Base_BorderDarkColor: var(--sapShell_BorderColor);
}

.sapUiRtaMode {

	.sapUiRtaToolbar {
		height: 2.75rem; /* 44px */
	}
}