body {
	overflow: hidden;
}

.positioned11 {
	position: absolute !important;
	top: 300px;
}

.positioned14 {
	position: absolute !important;
	top: 350px;
}

.positioned15 {
	position: absolute !important;
	top: 400px;
}

.positioned16 {
	position: absolute !important;
	top: 450px;
}

.positioned17 {
	position: absolute !important;
	top: 500px;
}

.positioned18 {
	position: absolute !important;
	top: 550px;
}

.positioned19 {
	position: absolute !important;
	top: 600px;
}

.customClassForVisualTests {
	caret-color: transparent;
}

#innerPopover .sapMPopoverCont {
	height: 100% !important;
}