/**
 * @file
 * @deprecated as of version 1.50, together with sap.m.StandardTile
 */
/* =================================== */
/* CSS for control sap.m/StandardTile  */
/* Evening Horizon theme               */
/* =================================== */

.sapMStdTileIconDiv {
	color: var(--sapHighlightColor);
}

.sapMStdIconCreate {
	opacity: .3;
}

.sapMStdTileMonitorType {
	background-color: ~'hsl(from var(--sapTile_Background) h s calc(l - 5%))';
}

.sapMTCEditable .sapMStdTileMonitorType {
	background-color: ~'hsl(from var(--sapTile_Background) h s calc(l - 5%) / 0.5)';
}

.sapMStdTileMonitorType .sapMStdTileTitle {
	color: var(--sapTile_TitleTextColor);
}

.sapMTileActive-CTX .sapMStdTileMonitorType {
	background-color: transparent;
}