/* ================================== */
/* CSS for control sap.m/TileContent  */
/* Evening Horizon theme              */
/* ================================== */

.sapMTileCnt.News {
	background-color: var(--sapTile_OverlayBackground);

	.sapMTileCntContent {
		height: 3.625rem;
	}
}

.sapMTileCnt.News .sapMTileCntFtrTxt {
	color: var(--sapTile_OverlayForegroundColor);
}