/* =============================== */
/* CSS for control sap.m/ListBase  */
/* Quartz Light theme              */
/* =============================== */

.sapMGrowingListDescription,
.sapMGrowingListTriggerText > .sapMSLITitle {
	text-shadow: var(--sapContent_TextShadow);
}

.sapMSticky > .sapMListHdrText,
.sapMSticky > .sapMListHdrTBar.sapMTB-Transparent-CTX {
	background: ~'hsl(from var(--sapList_HeaderBackground) h s calc(l + 2))';
}

.sapMGrowingListTrigger {
	border-top: var(--sapList_BorderWidth) solid var(--sapList_HeaderBorderColor);
}