/* ============================== */
/* CSS for control sap.m/Popover  */
/* Fiori 3 theme                  */
/* ============================== */

.sapMPopoverWithBar > .sapMPopoverArr.sapMPopoverArrUp::after {
	background-color: var(--sapPageHeader_Background);
}

.sapMPopoverHeader,
.sapMPopoverSubHeader  {
	position: relative;
	z-index: 2;
}
