/* ====================================== */
/* CSS for control sap.m/RatingIndicator  */
/* Fiori 3 theme                          */
/* ====================================== */

.sapMRI {
	text-shadow: var(--sapContent_TextShadow);

	.sapMRIUnsel {
		color: var(--sapContent_UnratedColor);
	}

	.sapMRISel {
		color: var(--sapContent_RatedColor);
	}

	.sapMRIHov {
		color: darken(@sapUiContentRatedColor, 5);
	}
}

.sapMRI.sapMRIDisplayOnly {
	text-shadow: none;

	.sapMRIIconSel {
		color: var(--sapTextColor);
	}
	.sapMRIUnsel {
		color: var(--sapContent_UnratedColor);
	}
}

.sapMRIDisabled {
	text-shadow: none;
	opacity: 0.4;
}

.sapMRIIconSel,
.sapMRIIconUnsel,
.sapMRIIconHov,
.sapMRIIconReadOnly {
	font-size: 1.5rem;
}