/* ======================================= */
/* CSS for control sap.f.cards/BaseHeader  */
/* Horizon theme                           */
/* ======================================= */

.sapUI5Scope {
	--_sap_f_CardHeaders_TitleFontSize: var(--sapFontHeader6Size);
	--_sap_f_CardHeaders_HeaderFocusBorderLeftOffset: 0;
	--_sap_f_CardHeaders_HeaderFocusBorderBottomOffset: 0;
	--_sap_f_CardHeaders_HeaderFocusBorderRightOffset: 0;
	--_sap_f_CardHeaders_HeaderFocusBorderTopOffset: 0;
}