/* ================================= */
/* CSS for control sap.m/Wizard      */
/* Quartz High Contrast Black theme  */
/* ================================= */

.sapMWizard {

	&.sapMWizardBgList .sapMWizardStepContainer {
		background-color: var(--sapBackgroundColor);
	}

	&.sapMWizardBgTransparent .sapMWizardStepContainer {
		background-color: var(--sapBackgroundColor);
	}
}

.sapMWizard {
	overflow: hidden;
}

html.sap-phone .sapMWizard .sapMWizardNextButtonVisible {
	left: 1rem;
	bottom: 3.5rem;
	transform: none;
}