.sapUiVlt.sapUiMdcFilterBarLayoutItem { /* TODO: only in filterbar usage */
	display: block;
	padding-right: 1rem;
	padding-top: 0.5rem;
}

.sapUiVlt.sapUiMdcFilterBarLayoutItem > .sapUiVltCell { /* TODO: only in filterbar usage */
	display: block;
}