/* ====================================== */
/* CSS for control sap.ui.dt/ContextMenu  */
/* Base theme                             */
/* ====================================== */

.sapUiDtContextMenu {
	--_sap_ui_dt_ContextMenu_MnuItemTextColor: var(--sapTextColor);
	--_sap_ui_dt_ContextMenu_MnuItemIconColor: var(--sapContent_NonInteractiveIconColor);
	--_sap_ui_dt_ContextMenu_PrpgtedMnuItemBGColor: var(--sapList_AlternatingBackground);
	--_sap_ui_dt_ContextMenu_PrpgtedTitleBorderColor: var(--sapShell_BorderColor);
	--_sap_ui_dt_ContextMenu_EnabledOpacity: 1;
	--_sap_ui_dt_ContextMenu_ShowChangesButtonBorderColor: var(--sapShell_BorderColor);
	--_sap_ui_dt_ContextMenu_ShowChangesButtonHoverBG: var(--sapButton_Hover_Background);
	--_sap_ui_dt_ContextMenu_ShowChangesButtonFocusColor: var(--sapSelectedColor);
	--_sap_ui_dt_ContextMenu_ShowChangesButtonRadius: var(--sapField_BorderCornerRadius);
}

.sapUiDtContextMenu.sapMMenu {

	.sapMMenuList {

		.sapMMenuItem {

			.sapMMenuEndContent {
				padding-inline-start: 0;
				margin-inline-start: var(--sapContent_Space_Tiny);

				.sapMBtn {

					.sapMBtnInner {
						background-color: transparent;
						border-color: transparent;
					}

					&.sapMBtnDisabled {
						opacity: var(--_sap_ui_dt_ContextMenu_EnabledOpacity);
					}

					&:focus-visible > .sapMFocusable,
					&:focus > .sapMFocusable {

						&::before {
							content: none;
						}
					}

					.sapUiIcon {
						color: var(--_sap_ui_dt_ContextMenu_MnuItemIconColor) !important;
					}
				}
			}

			/* style for control names */
			&.sapUiDtContextMenuControlTitle {
				opacity: var(--_sap_ui_dt_ContextMenu_EnabledOpacity);
				height: 2.25rem;
				border-bottom: 0.0625rem solid var(--_sap_ui_dt_ContextMenu_PrpgtedTitleBorderColor);

				&:hover {
					background-color: inherit;
				}

				.sapMMenuItemIcon {
					display: none;
				}

				.sapMMenuItemText {
					font-weight: bold;
					color: var(--_sap_ui_dt_ContextMenu_MnuItemTextColor);
				}
				// mark the "Show Changes" button as focused, remove focus outline from Title item
				&:focus {
					outline: none;
					.sapMBtnInner {
						outline: 0.125rem solid var(--sapSelectedColor);
					}
				}
			}

			/* Style for title "Extended Actions" */
			&.sapUiDtContextMenuExtendedActionsTitle {
				opacity: var(--_sap_ui_dt_ContextMenu_EnabledOpacity);
				height: 2.5rem;
				text-align: center;
				background-color: var(--_sap_ui_dt_ContextMenu_PrpgtedMnuItemBGColor);
				border-top: 0.0625rem solid var(--_sap_ui_dt_ContextMenu_PrpgtedTitleBorderColor);
				border-bottom: 0.0625rem solid var(--_sap_ui_dt_ContextMenu_PrpgtedTitleBorderColor);
				border-radius: 0;

				.sapMMenuItemIcon {
					display: none;
				}

				.sapMMenuItemText {
					color: var(--_sap_ui_dt_ContextMenu_MnuItemTextColor);
				}
			}

			/* style for names of propagated controls */
			&.sapUiDtContextMenuPropagatedControlTitle {
				opacity: var(--_sap_ui_dt_ContextMenu_EnabledOpacity);
				height: 2rem;
				background-color: var(--_sap_ui_dt_ContextMenu_PrpgtedMnuItemBGColor);

				.sapMMenuItemIcon {
					display: none;
				}

				.sapMMenuItemText {
					font-weight: bold;
					color: var(--_sap_ui_dt_ContextMenu_MnuItemTextColor);
				}
			}

			/* style for propagated menu items */
			&.sapUiDtContextMenuPropagatedItem {

				&:not(:hover) {
					background-color: var(--_sap_ui_dt_ContextMenu_PrpgtedMnuItemBGColor);
				}

				&.sapMMenuItemDisabled {

					.sapMMenuItemIcon,
					.sapMMenuItemText,
					.sapMMenuEndContent {
						color: var(--_sap_ui_dt_ContextMenu_MnuItemTextColor);
						opacity: var(--sapContent_DisabledOpacity);
					}

					&:hover {
						background-color: var(--_sap_ui_dt_ContextMenu_PrpgtedMnuItemBGColor);
					}
				}
			}

			/* "View Changes" button in control title header */
			.sapUiDtContextMenuViewChanges.sapMBtn {
				padding: 0;
				width: 2rem;
				&:hover > .sapMBtnHoverable {
					background-color: var(--_sap_ui_dt_ContextMenu_ShowChangesButtonHoverBG);
				}
				.sapMBtnInner {
					border: 0.063rem solid var(--_sap_ui_dt_ContextMenu_ShowChangesButtonBorderColor);
					border-radius: var(--_sap_ui_dt_ContextMenu_ShowChangesButtonRadius);
					padding: 0 var(--sapContent_Space_Tiny);
					height: 1.75rem;
					min-width: auto;
				}

				.sapMBtnIcon {
					line-height: 1.75rem;
				}
				&:focus {
					.sapMBtnInner {
						outline: 0.125rem solid var(--_sap_ui_dt_ContextMenu_ShowChangesButtonFocusColor);
					}
				}
			}
		}
	}
}