/* ============================== */
/* CSS for sap.ui.table/Grouping  */
/* Base theme                     */
/* ============================== */

@_sap_ui_table_Grouping_GroupHeaderFadingWidth: 40px;

.sapUiTableTreeIcon {
	display: flex;
	flex: none;
	justify-content: center;
	align-items: center;
	width: @_sap_ui_table_BaseSize;
	height: @_sap_ui_table_BaseSize;
	cursor: default;

	.sapUiSizeCondensed & {
		height: @_sap_ui_table_BaseSizeCondensed;
	}

	&:focus {
		outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
		outline-offset: calc(var(--sapContent_FocusWidth) ~"* -1");
	}
}

.sapUiTableGroupIcon {
	display: none;
	position: absolute;
	left: var(--sapContent_FocusWidth);
	top: var(--sapContent_FocusWidth);
	bottom: var(--sapContent_FocusWidth);
	max-width: calc(var(--_sap_ui_table_GroupHeaderMaxWidth) ~"-" var(--CalculatedGroupIndent, 0px) ~"-" var(--sapContent_FocusWidth) ~"* 2");
	padding-right: @_sap_ui_table_Grouping_GroupHeaderFadingWidth;
	z-index: 1;
	box-sizing: border-box;
}

.sapUiTableGroupIcon::before,
.sapUiTableTreeIcon::before {
	font-family: var(--sapContent_IconFontFamily);
	font-size: 0.75rem;
	color: var(--sapContent_IconColor);

	.sapUiSizeCozy & {
		font-size: 1rem;
	}
}

.sapUiTableGroupIcon::before {
	width: @_sap_ui_table_RowSelectorWidth;
	text-align: center;
	vertical-align: middle;
	margin-left: calc(var(--sapContent_FocusWidth) ~"* -1");
	margin-right: var(--sapContent_FocusWidth);

	.sapUiSizeCozy & {
		width: @_sap_ui_table_RowSelectorWidthCozy;
	}

	.sapUiTableRowHighlights.sapUiTableRowSelectors & {
		margin-left: calc(var(--sapContent_FocusWidth) ~"* -1 +" @_sap_ui_table_RowHighlightWidth);
	}
}

.sapUiTableGroupIcon.sapUiTableGroupIconOpen::before,
.sapUiTableTreeIcon.sapUiTableTreeIconNodeOpen::before {
	content: '\e1e2';
}

.sapUiTableGroupIcon.sapUiTableGroupIconClosed::before,
.sapUiTableTreeIcon.sapUiTableTreeIconNodeClosed::before {
	content: '\e066';
}

html[dir=rtl] {

	.sapUiTableGroupIcon.sapUiTableGroupIconClosed::before,
	.sapUiTableTreeIcon.sapUiTableTreeIconNodeClosed::before {
		content: '\e067';
	}
}

.sapUiTableTreeIcon.sapUiTableTreeIconLeaf {
	visibility: hidden;
}

.sapUiTableGroupHeaderText {
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 1 1 0;
	font-size: @sapMFontMediumSize;
	white-space: nowrap;
	font-weight: normal;
	color: var(--sapList_TextColor);
}

.sapUiTableGroupHeaderFading(@color) {
	box-shadow: inset @_sap_ui_table_Grouping_GroupHeaderFadingWidth 0 @_sap_ui_table_Grouping_GroupHeaderFadingWidth / 2 -@_sap_ui_table_Grouping_GroupHeaderFadingWidth / 2 @color;
}

/* Fading effect for overlapping */
.sapUiTableGroupIcon::after {
	display: none;
	position: absolute;
	content: '';
	width: @_sap_ui_table_Grouping_GroupHeaderFadingWidth;
	top: 1px;
	bottom: 1px;
	right: 0;

	.sapUiTableGroupHeaderFading(@sapUiListTableGroupHeaderBackground);
}

.sapUiTableGroupHeaderRow > .sapUiTableRowSelectionCell:focus {

	& .sapUiTableGroupIcon {
		outline-width: var(--sapContent_FocusWidth);
		outline-style: var(--sapContent_FocusStyle);
		outline-offset: 0;
		outline-color: var(--sapContent_FocusColor);

		.sapUiSizeCondensed & {
			outline-width: 0.0625rem;
		}
	}

	&::before {
		outline: none !important;
	}
}

.sapUiTableGroupHeaderRow > .sapUiTableCell:focus::before {
	z-index: 2;
}

.sapUiTableGroupHeaderRow > .sapUiTableCell.sapUiTableCellFirst:focus::before,
.sapUiTableGroupMode .sapUiTableRowIndented > .sapUiTableCell.sapUiTableCellFirst:focus::before {
	left: var(--CalculatedGroupIndent, 0);
}

/* Override row background and cell borders in group header rows. */
.sapUiTableGroupHeaderRow {

	&.sapUiTableRow {
		background-color: @sapUiListTableGroupHeaderBackground;
	}

	> .sapUiTableCell {

		&.sapUiTableRowSelectionCell,
		&.sapUiTableDataCell {
			border-right-color: transparent;
		}

		&.sapUiTableRowActionCell {
			border-left-color: transparent;
		}
	}
}

.sapUiTableGroupMode .sapUiTableGroupHeaderRow > .sapUiTableRowSelectionCell {

	> .sapUiTableGroupIcon {
		display: flex;
		align-items: center;

		&::before,
		&::after {
			display: block;
		}
	}
}

.sapUiTableGroupMode .sapUiTableGroupHeaderRow.sapUiTableRowHvr,
.sapUiTableGroupMode .sapUiTableRowHvr .sapUiTableGroupIcon {
	background-color: var(--sapList_Hover_Background);
}

.sapUiTableGroupMode .sapUiTableRowHvr .sapUiTableGroupIcon::after {
	.sapUiTableGroupHeaderFading(@sapUiListHoverBackground);
}

.sapUiTableGroupMode .sapUiTableRowFirstFixedBottom > .sapUiTableRowSelectionCell::before {
	border-top-color: @sapUiListTableFixedBorder;
}

.sapUiTableGroupShield {
	position: absolute;
	top: 0;
	left: -1px;
	bottom: -1px;
	box-sizing: border-box;
	width: 0;
	margin-left: -0px;
	background-color: var(--sapList_Background);
	pointer-events: none;
}

.sapUiTableRowHidden > .sapUiTableCell > .sapUiTableGroupShield {
	display: block;
}

.sapUiTableGroupHeaderRow > .sapUiTableRowSelectionCell:focus {
	outline: 0;
}

.sapUiTableGroupHeaderRow > .sapUiTableContentCell {
	box-sizing: border-box;
	border-bottom: 1px solid var(--sapList_TableGroupHeaderBorderColor);
}

.sapUiTableGroupHeaderRow:first-child > .sapUiTableContentCell {
	border-top: 0;
}

.sapUiTableGroupHeaderRow.sapUiTableRowLastScrollable > .sapUiTableRowSelectionCell,
.sapUiTableGroupMode .sapUiTableTr.sapUiTableGroupHeaderRow.sapUiTableRowLastScrollable > .sapUiTableCellDummy {
	border-bottom-color: @sapUiListTableFixedBorder;
}