/* =========================================== */
/* CSS for control sap.ui.commons/CalloutBase  */
/* Evening Horizon theme                       */
/* =========================================== */

.sapUiCltBase {
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontSmallSize);
	color: var(--sapContent_ForegroundTextColor);
	background-color: ~'hsl(from var(--sapContent_ForegroundColor) h s calc(l + 10))';
	border: 4px solid ~'hsl(from var(--sapContent_ForegroundColor) h s calc(l + 25))';
	min-width: 40px;
	min-height: 30px;
}

.sapUiCltBaseCont {
	background-color: ~'hsl(from var(--sapContent_ForegroundColor) h s calc(l + 10))';
}

.sapUiCltBaseArr {
	display: block;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	background-color: ~'hsl(from var(--sapContent_ForegroundColor) h s calc(l + 10))';
	position: absolute;
	transform: rotate(45deg);
	z-index: -1;
}