/* =============================================== */
/* CSS for control sap.ui.rta/ChangeVisualization  */
/* Quartz Dark theme                               */
/* =============================================== */

@_sap_ui_rta_ChangeVisualization_OverlayOutlineColor: var(--sapLegendColor7);
@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorDark: @sapUiLegend7;

.sapMPopover.sapUiRtaChangeDetailPopup {

	.sapMBtn {

		.sapMBtnInner {
			border-radius: 0;
		}

	}
}