/* ======================================= */
/* CSS for control sap.ui.rta/ContextMenu  */
/* Quartz Dark theme                       */
/* ======================================= */

.sapUI5Scope {
	--_sap_ui_rta_ContextMenu_BorderLightColor: var(--sapShell_BorderColor);
	--_sap_ui_rta_ContextMenu_BorderDarkColor: var(--sapLegendColor7);
}

.sapUiRtaMode {

	.sapUiDtContextMenu {

		&.sapMMenu {
			border: 0.125rem dashed var(--_sap_ui_rta_ContextMenu_BorderDarkColor); /* 2px */
			border-image: none;
		}
	}
}