/* ============================================== */
/* CSS for control sap.ui.rta/Toolbar.adaptation  */
/* Quartz Dark theme                              */
/* ============================================== */

@_sap_ui_rta_Toolbar_Adaptation_TextColor: var(--sapShell_TextColor); /* #fafafa */
@_sap_ui_rta_Toolbar_Adaptation_BtnFocusBorderColor: var(--sapShell_TextColor); /* #fafafa */
@_sap_ui_rta_Toolbar_Adaptation_SegBBtnHoverTextColor: var(--sapButton_Hover_TextColor); /* #91c8f6 */
@_sap_ui_rta_Toolbar_Adaptation_SegBBtnBackgroundColor: var(--sapShellColor); /* #354a5f */
@_sap_ui_rta_Toolbar_Adaptation_SegBBtnHoverBackgroundColor: var(--sapShellColor); /* #354a5f */
@_sap_ui_rta_Toolbar_Adaptation_DraftVersionColor: var(--sapContent_RatedColor); /* #ffc847 */
@_sap_ui_rta_Toolbar_Adaptation_ActiveVersionColor: var(--sapShell_PositiveColor); /* #abe2ab */
@_sap_ui_rta_Toolbar_Adaptation_FocusOutlineColor: var(--sapShell_TextColor); /* #fafafa */
@_sap_ui_rta_Toolbar_Adaptation_VersionHistoryBackgroundColor: @sapUiShellColor; /* #354a5f */

.sapUiRtaMode {

	.sapUiRtaToolbar.sapUiRtaToolbarAdaptation {

		.sapMBtn {

			&.sapMBtnDisabled .sapMBtnInner {
				opacity: 1.0;
			}

			.sapMBtnTransparent,
			.sapMBtnTransparent>.sapMBtnIcon {
				color: @_sap_ui_rta_Toolbar_Adaptation_TextColor;
			}
		}

		.sapUiRtaVersionButton.sapUiRtaVersionColor:hover {

			> span.sapMBtnHoverable.sapMBtnTransparent > span.sapMBtnIcon,
			> span > span > bdi {
				color: @_sap_ui_rta_Toolbar_Adaptation_SegBBtnHoverTextColor;
			}
		}

		.sapUiRtaVersionButton.sapUiRtaActiveVersionAccent,
		.sapUiRtaVersionButton.sapUiRtaDraftVersionAccent,
		.sapUiRtaVersionButton.sapUiRtaVersionColor {
			> .sapMBtn:hover {
				> span > span > bdi,
				> span::after {
					color: var(--sapButton_Lite_Hover_TextColor);
				}
			}
		}
		.sapUiRtaVersionButton.sapUiRtaDraftVersionAccent {
			> .sapMBtn:not(:hover) {
				> span.sapMBtnInner.sapMBtnAttention {
					background-color: transparent;
					border-color: transparent;
					color: @_sap_ui_rta_Toolbar_Adaptation_DraftVersionColor;
				}
			}
			> .sapMBtn:hover {
				> span.sapMBtnInner.sapMBtnAttention.sapMBtnHoverable {
					background-color: var(--sapButton_Lite_Hover_Background);
					border-color: var(--sapButton_Lite_Hover_BorderColor);
				}
			}
		}
		.sapUiRtaVersionButton .sapMBtnActive {
			background-color: transparent;
		}
	}
}
