/* ======================================== */
/* CSS for control sap.ui.rta/Toolbar.base  */
/* Quartz Dark theme                        */
/* ======================================== */

@_sap_ui_rta_Toolbar_Base_BackgroundColor: var(--sapShell_BorderColor); /* #354a5f */
@_sap_ui_rta_Toolbar_Base_OutlineColor: var(--sapLegendColor7);

.sapUiRtaMode {

	.sapUiRtaToolbar {
		height: 2.75rem; /* 44px */
		outline: 0.125rem dashed @_sap_ui_rta_Toolbar_Base_OutlineColor;
		outline-offset: -0.125rem;
		border: none;
		border-image: none;
	}
}
