/* =================================== */
/* CSS for control sap.ui.rta/Dialogs  */
/* Quartz High Contrast Black theme    */
/* =================================== */

.sapUI5Scope {
	--_sap_ui_rta_Dialogs_BorderLightColor: var(--sapSuccessBorderColor);
	--_sap_ui_rta_Dialogs_BorderDarkColor: var(--sapShell_Background);
	--_sap_ui_rta_Dialogs_BoxShadowColor: ~'hsl(from var(--sapContent_ContrastShadowColor) h s l / .6)';
	--_sap_ui_rta_Dialogs_BoxShadowDarkColor: ~'hsl(from var(--sapContent_ContrastShadowColor) h s l / .8)';
}

.sapMDialog.sapUiRTABorder,
.sapMPopover.sapUiRTABorder {
	box-shadow: 0 0.625rem 4rem 0 var(--_sap_ui_rta_Dialogs_BoxShadowDarkColor), 0 0 0 0.125rem var(--_sap_ui_rta_Dialogs_BorderLightColor);
}

.sapUiRtaPopover.sapMPopover,
.sapUiRtaPopover .sapMPopover {
	box-shadow: 0 0.25rem 2rem 0 var(--_sap_ui_rta_Dialogs_BoxShadowColor), 0 0 0 0.125rem var(--_sap_ui_rta_Dialogs_BorderLightColor);
}