/* ============================================== */
/* CSS for control sap.ui.rta/Toolbar.adaptation  */
/* Quartz High Contrast Black theme               */
/* ============================================== */

@_sap_ui_rta_Toolbar_Adaptation_DraftVersionColor: var(--sapShell_CriticalColor); /* #ffab1d */
@_sap_ui_rta_Toolbar_Adaptation_ActiveVersionColor: var(--sapShell_PositiveColor); /* #9c9 */
@_sap_ui_rta_Toolbar_Adaptation_SegBBtnBackgroundColor: var(--sapShell_Background); /* #000 */
@_sap_ui_rta_Toolbar_Adaptation_HighlightAllChangesButtonColor: var(--sapContent_Illustrative_Color9); /* #0899a7 */

.sapUiRtaMode {

	.sapUiRtaToolbar.sapUiRtaToolbarAdaptation {

		.sapMBtn {

			&:focus .sapMFocusable {
				outline: 0.125rem dotted @_sap_ui_rta_Toolbar_Adaptation_FocusOutlineColor;
				outline-offset: -0.125rem; /* 2px */
				border-color: transparent;
			}
		}

		.sapUiRtaVersionButton:hover.sapUiRtaDraftVersionAccent > .sapMBtn > span::after {
			color: @_sap_ui_rta_Toolbar_Adaptation_TextColor;
		}

		.sapUiRtaVersionButton.sapUiRtaActiveVersionAccent > .sapMBtn:hover > span > span > bdi,
		.sapUiRtaVersionButton.sapUiRtaActiveVersionAccent > .sapMBtn:hover > span::after {
			color: @_sap_ui_rta_Toolbar_Adaptation_TextColor;
		}
	}

	.sapMMenuItem:not(:hover).sapUiRtaHighlightAllChangesButton {
		.sapMMenuItemSelected {
			&:after {
				color: @_sap_ui_rta_Toolbar_Adaptation_HighlightAllChangesButtonColor;
			}
		}
	}

	.sapMMenuItem:hover.sapUiRtaHighlightAllChangesButton {
		.sapMMenuItemSelected {
			&:after {
				color: @_sap_ui_rta_Toolbar_Adaptation_TextColor;
			}
		}
	}
}