/* ==================================== */
/* CSS for control sap.m/Menu           */
/* Quartz High Contrast Black theme     */
/* ==================================== */

.sapMMenu {
	box-shadow: var(--sapContent_Shadow1);

	.sapMMenuItem.sapMMenuItemSubMenuOpen {
		background-color: var(--sapList_SelectionBackgroundColor);
	}

	.sapMMenuItem.sapMMenuItemSubMenuOpen:hover,
	.sapMMenuItem.sapMMenuItemSubMenuOpen:focus {
		background-color: var(--sapList_Active_Background);
	}
}
