/* ================================== */
/* CSS for control sap.m/TextArea     */
/* Horizon High Contrast Black theme  */
/* ================================== */

.sapUI5Scope {
	--_sap_m_TextArea_Padding: 0.375rem 0.5rem 0.3125rem;
	--_sap_m_TextArea_Padding_Compact: 0.0625rem 0.375rem 0;
	--_sap_m_TextArea_ReadonlyPadding: 0.375rem 0.625rem 0.3125rem;
	--_sap_m_TextArea_ReadonlyPadding_Compact: 0.0625rem 0.375rem 0;
	--_sap_m_TextArea_ValueStateSuccessPadding: 0.375rem 0.5rem 0.3125rem;
	--_sap_m_TextArea_ValueStateSuccessPadding_Compact: 0.0625rem 0.375rem 0;
	--_sap_m_TextArea_ValueStateInformationPadding: 0.4375rem 0.5625rem 0.375rem;
	--_sap_m_TextArea_ValueStateInformationPadding_Compact: 0.125rem 0.4375rem 0.0625rem;
	--_sap_m_TextArea_ValueStateErrorWarningPadding: 0.375rem 0.5rem 0.3125rem;
	--_sap_m_TextArea_ValueStateErrorWarningPadding_Compact: 0.0625rem 0.375rem 0;
}

.sapMFocus.sapMTextArea {

	& .sapMInputBaseContentWrapper {

		.sapMInputBaseInner {
			outline-offset: -3px;
		}
	}
}

.sapMInputBase.sapMTextArea .sapMTextAreaInner {
	line-height: 1.5;
}

.sapMTextAreaMirror {
	line-height: 1.5;
}

html.sap-desktop:not(.sapUiNativeScrollbars) .sapMTextArea {

	.sapMInputBaseContentWrapperWarning ::-webkit-scrollbar {
		background: var(--sapField_WarningBackgroundStyle);
		background-color: var(--sapScrollBar_TrackColor);
	}

	.sapMInputBaseContentWrapperError ::-webkit-scrollbar {
		background: var(--sapField_InvalidBackgroundStyle);
		background-color: var(--sapScrollBar_TrackColor);
	}

	.sapMInputBaseContentWrapperInformation ::-webkit-scrollbar {
		background: var(--sapField_InformationBackgroundStyle);
		background-color: var(--sapScrollBar_TrackColor);
	}

	.sapMInputBaseContentWrapperSuccess ::-webkit-scrollbar {
		background: var(--sapField_SuccessBackgroundStyle);
		background-color: var(--sapScrollBar_TrackColor);
	}
}