/* ================================== */
/* CSS for control sap.m/Token        */
/* Horizon High Contrast Black theme  */
/* ================================== */

.sapMToken {
	border-radius: 0.25rem;
	color: var(--sapTextColor);
	font-size: var(--sapFontSize);
	overflow: visible;
}

.sapMTokenIcon::before {
	display: inline-block;
	width: 0.75rem;
	height: 0.75rem;
	line-height: 1;
}

html.sap-desktop .sapMToken:not(.sapMTokenReadOnly):hover {
	border: var(--sapButton_BorderWidth) solid var(--sapButton_Hover_BorderColor);
	background: var(--sapButton_Hover_Background);
}

.sapMToken:not(.sapMTokenFocusFromTouch):focus-visible,
html.sap-desktop .sapMToken:focus {
	outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
	outline-offset: -0.1875rem;
}

.sapMToken.sapMTokenReadOnly {
	padding: 0.25rem 0.3125rem;
	color: var(--sapContent_LabelColor);
	border-color: var(--sapField_ReadOnly_BorderColor);
	background: var(--sapButton_ReadOnly_TokenBackground);

	.sapMTokenText {
		line-height: 1rem;
	}

	&.sapMTokenSelected .sapMTokenText {
		background: var(--sapSelectedColor);
		color: var(--sapContent_ContrastTextColor);
	}
}

.sapMTokenIcon {
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.sapUiSizeCompact .sapMToken.sapMTokenReadOnly {
	padding: 0.0625rem 0.25rem;

	.sapMTokenText {
		line-height: 1rem;
	}
}
